.activedeactive {
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 2px #4a90e2;
    color:#4a90e2;
    padding: 2px 14px!important;
  }
  .active-rfq-btn {
    padding: 5px 30px;
    border-radius: 5px;
    background-color: #4a90e2;
    color:#fff;
    border: solid 1px #4a90e2;
  }
  
  .deactivate-rfq-btn {
    padding: 5px 30px;
    border-radius: 5px;
    background-color: #fff;
    border: solid 1px #4a90e2;
     color:#4a90e2;
  }
  hr {
    border: 1px solid #e2e2e5!important;
    float: left!important;
    width: 100%!important;
    margin-top: 11px!important;
    margin-bottom: 5px!important;
}