.Welcome-Page-Title {
  position: relative;
  margin-left: 39px;
  height: 33px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #222222;
}
.Welcome-Page-SubTitle {
  position: relative;
  margin-left: 39px;
  height: 25px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #919aa3;
}
.header-separation {
  position: relative;
  height: 54px;
}
.Welcome-Cr-RFQ-Rectangle {
  position: absolute;
  margin-left: 39px;
  margin-right: 15px;
  width: 511px;
  height: 460px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 5px 10px 0 rgba(145, 154, 163, 0.65);
}
.Welcome-Match-Me-Rectangle {
  position: absolute;
  margin-left: 15px;
  margin-right: 39px;
  width: 511px;
  height: 460px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 0 4px 0 rgba(145, 154, 163, 0.5);
}


.Welcome-RFQ-pc-Logo {
  position: relative;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 70px;
  width: 211px;
  height: 129px;
  object-fit: contain;
}
.Welcome-RFQ-create-title {
  margin-top: 60px;
  height: 33px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #222222;
}
.Welcome-RFQ-create-info {
  margin-top: 8px;
  height: 45px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #222222;
}
.Welcome-RFQ-create-button {
  width: 471px;
  height: 45px;
  border-radius: 2px;
  background-color: #81db6d;
  text-align: center;
}

.Welcome-Match-Me-Logo {
  position: relative;
  margin-left: 136px;
  margin-right: 127px;
  margin-top: 60px;
  width: 248px;
  height: 149px;
  object-fit: contain;
}
.Welcome-Match-Me-title {
  margin-top: 50px;
  height: 33px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #222222;
}
.Welcome-Match-Me-info {
  margin-top: 8px;
  height: 45px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #222222;
}
.Welcome-Match-Me-button {
  width: 471px;
  height: 45px;
  border-radius: 2px;
  background-color: #81db6d;
  text-align: center;
}
