<section>
  <div class="row ">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="Welcome-Page-Title">Welcome to the Manufacturing Marketplace!</div>
    </div>
  </div>
  <div class="row ">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="Welcome-Page-SubTitle">What would you like to do to get started?</div>
    </div>
  </div>
  <div class="row header-separation"></div>
  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="row Welcome-Cr-RFQ-Rectangle">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="row Welcome-RFQ-pc-Logo">
            <img src="assets/images/welcome-page/pc-icon.svg">
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="Welcome-RFQ-create-title">Create an RFQ</div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="Welcome-RFQ-create-info">
                Need from marketing or the business!
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <button class="btn btn-primary Welcome-RFQ-create-button" [routerLink]="['/rfq/editrfq']" style="text-transform: none">Create an RFQ</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="row Welcome-Match-Me-Rectangle">
        <div class="col-sm-12 col-md-12 col-lg-12">

          <div class="row Welcome-Match-Me-Logo">
            <img src="assets/images/welcome-page/match-me-illustration.svg">
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="Welcome-Match-Me-title">Match me with a Manufacturer</div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="Welcome-Match-Me-info">
                Need from marketing or the business!
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <button class="btn btn-primary Welcome-Match-Me-button" [routerLink]="['/discoversupplier']">Match me Now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
