<body class="login-bg">
    <div  class="container">
       <div id="login">
            <div class="row">
          <div class="col-md-12">
                  <div id="login-row" class="row justify-content-center align-items-center">
                      <div id="login-column" class="col-md-6 col-md-offset-3">
                          <div class="loginpage-logo">
                  <img style="width: 50%;" src="assets/login/Logo_MFG_White.png" alt="MFG Logo">
                </div>
                <div id="login-box">
                  <div class="loginpage card-header">
                    <h3>Reset Password</h3>
                  </div><br>

                  <div class="loginregister">
                    <p class="forgotpassword">Please enter your new password.</p><br>
                    <form class="md-float-material" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label class="Label-class" *ngIf="checkLoginField('emailId')"></label>
                            <label [ngClass]="(isFieldValid('newpassword') || isRegisterPasswordValid('newpassword') )?'Label-focus-red':(labelFocus === 'newpassword')? 'Label-focus':'Label-class'" [ngClass]="" *ngIf="!checkLoginField('newpassword')" style="font-weight: bold;" >New Password</label>
                            <div class="input-container">
                              <input type="password"  [ngClass]="(isFieldValid('newpassword') || isRegisterPasswordValid('newpassword'))?'borderRedColor':'borderBlackColor'" (focus)="setFocus('newpassword')" (blur)="setFocus('no')"  maxlength="20" class="form-control" placeholder="New Password" autocomplete="off" formControlName="newpassword" placement="right" data-container="body" ngbTooltip="Enter combination of at least one number and 6-20 characters with one capital,one lower and any one special character ($,@,!,%,*,#,?,&,^,())." >
                              <i *ngIf="getNewPassword()"  class="fa fa-times-circle icon" (click)="removeTextValue('new')" placement="top" container="body" ngbTooltip="Remove Text"></i>
                            </div>
                            <!--<div class="input-group">
                              <span class="text-left" *ngIf="(labelFocus === 'newpassword')">Must be 8-20 characters long and contain both uppercase and lower case letters and atleast one number and symbol.</span>
                            </div>-->

                            <div class="error-msg">
                              <app-field-error-display [displayError]="isFieldValid('newpassword')" errorMsg="New Password Is Required"></app-field-error-display>
                              <app-field-error-display [displayError]="isRegisterPasswordValid('newpassword')" errorMsg="Must be 6-20 characters long and contain both uppercase and lower case letters and atleast one number and symbol."></app-field-error-display>
                            </div>
                            <span class="md-line"></span>
                          </div>
                          <div class="form-group" >
                              <label class="Label-class" *ngIf="checkLoginField('confirmpassword')"></label>
                              <label [ngClass]="(isFieldValid('confirmpassword') || validateOldPassword('confirmpassword','newpassword') )?'Label-focus-red':(labelFocus === 'confirmpassword')? 'Label-focus':'Label-class'"   *ngIf="!checkLoginField('confirmpassword')" style="font-weight: bold;" >Re-enter Password</label>
                              <div class="input-container">
                                <input  type="password"  [ngClass]="(isFieldValid('confirmpassword') || validateOldPassword('confirmpassword','newpassword') )?'borderRedColor':'borderBlackColor'" (focus)="setFocus('confirmpassword')" (blur)="setFocus('no')" maxlength="20" class="form-control" placeholder="Re-enter Password" autocomplete="off" formControlName="confirmpassword" >
                                <i *ngIf="getRePassword()"  class="fa fa-times-circle icon" (click)="removeTextValue('con')" placement="top" container="body" ngbTooltip="Remove Text"></i>
                              </div>
                              <span class="regBuyer-TCApply" *ngIf="!isRegisterPasswordValid('newpassword')"><b>Note</b> : Enter combination of at least one number and 6-20 characters with one capital,one lower and any one special character ($,@,!,%,*,#,?,&,^,())</span>
                            <div class="error-msg">
                              <app-field-error-display [displayError]="isFieldValid('confirmpassword')" errorMsg="Re-enter Password"></app-field-error-display>
                              <app-field-error-display [displayError]="validateOldPassword('confirmpassword','newpassword')" errorMsg="Password mismatch"></app-field-error-display>
                            </div>
                            <span class="md-line"></span>
                          </div>
                            <div class="form-group" style="margin-bottom:2.1em;text-align: left;color:red;vertical-align: middle" *ngIf="isResetPasswordFailed">
                              {{errorResetPasswordMessage}}
                            </div>
                          <div class="dropimagebuttons">
                        <button type="submit" [disabled]="(resetBtn() && resetForm.invalid)" [ngClass]="(resetBtn() && resetForm.invalid )? 'login11':'login1'">Reset</button>
                      </div>
                        </form>
                  </div>

                          </div>
                      </div>
                  </div>
          </div>
            </div>
        </div>
    </div>
<!--<section class="login p-fixed d-flex text-center">-->
  <!-- Container-fluid starts -->
  <!--<div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 offset-sm-4">
        <div class="login-card card-block auth-body mr-auto ml-auto">
          <form class="md-float-material" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
            <div class="text-center">
              <img src="assets/logo.png" alt="logo.png">
            </div>
            <div class="auth-box cHeight">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-left">Reset Password</h3>
                </div>
              </div>
              <div class="input-group">
                <input type="password" maxlength="20" class="form-control" placeholder="Enter New Password" autocomplete="off" formControlName="newpassword" placement="right"
                data-container="body" ngbTooltip="Enter a password with at least 1 cap, 1 lower, 1 special, 1 number and password length between 6 to 20.">

                <div class="error-msg">
                  <app-field-error-display [displayError]="isFieldValid('newpassword')" errorMsg="New Password Is Required"></app-field-error-display>
                  <app-field-error-display [displayError]="isRegisterPasswordValid('newpassword')" errorMsg="Enter a password with at least 1 cap, 1 lower, 1 special, and 1 number"></app-field-error-display>
                </div>
              </div>
              <div class="input-group" >
                <input type="password" maxlength="20" class="form-control" placeholder="Re-enter Password" autocomplete="off" formControlName="confirmpassword">
                <div class="error-msg">
                  <app-field-error-display [displayError]="isFieldValid('confirmpassword')" errorMsg="Re-enter Password"></app-field-error-display>
                  <app-field-error-display [displayError]="validateOldPassword('confirmpassword','newpassword')" errorMsg="Password mismatch"></app-field-error-display>
                </div>
              </div>
              <div class="input-group">
                  <span class="text-left">Enter a password with at least 1 cap, 1 lower, 1 special,1 number and password length between 6 to 20.</span>
                </div>
              <div class="input-group" style="margin-bottom:2.1em;text-align: center;color:red;vertical-align: middle">
                <div *ngIf="isResetPasswordFailed">
                  {{errorResetPasswordMessage}}
                </div>
              </div>
              <div class="row m-t-30" >
                <div class="col-md-12">
                  <button type="submit" class="btn Rectanglebtn btn-md btn-block waves-effect text-center m-b-20">Reset</button>
                </div>
              </div>
              <input type="hidden" class="form-control" placeholder="Re-enter Password" autocomplete="off" formControlName="email">
            </div>
          </form>-->
          <!-- end of form -->
      <!--  </div> -->
     <!-- </div> -->
      <!-- end of col-sm-12 -->
   <!-- </div>-->
    <!-- end of row -->
 <!-- </div>-->
  <!-- end of container-fluid -->
<!--</section>-->
