.btn-manu-active{
  border: 1px solid #4a90e2;
  background-color: #4a90e2!important;
  color:#fff;
}
.msg-results-section {
  background-color: #f6f7fb;
  padding: 8px 15px;
  margin-bottom: 20px;
}
.msg_chkbox {
  margin-right:5px;
}
.actionTitle {
  text-align: center;
}
.lead-padding {
  padding-left: 25px;
}
.noteData {
  min-height: 400px;
}
.filterbtn-active {
  width: 75px;
  height: 35px;
  border-radius: 2px;
  background-color: #f6f7fb;
  border: solid 1px #bec4cb;
  font-size: 12px;
  text-align: center;
  color: #919aa3;
}
.filterbtn-inactive {
  width: 75px;
  height: 35px;
  background-color: #ffffff;
  border: solid 1px #bec4cb;
  font-size: 12px;
  text-align: center;
  color: #4a90e2;
}
.filter-btn {
  margin-bottom:15px;
}
.iconQms {
  font-size: 16px;
}
.iconDisabled {
  color: #4a90e245 !important;
}
.iconEnabled{
  color: #4a90e2 !important;
  cursor: pointer !important;
}
.noImage-padding {
  text-align: center;
  padding-top:90px
}
.noMsg-text {
  padding-top:34px;
}
.msgPagination {
  margin-top: 20px;
}
.contactName {
  font-size:16px;
}
.actiondiv {
  background: #e4e7f3!important;
}
.readBg {
  background-color: #e4e7f3!important; // #f6f7fb !important;
  white-space: initial !important;
  font-weight: bold;
}
.unreadBg {
  font-weight: bold;
}
.readFont {
  color:grey!important;
}
.unreadFont {
  color:#4a90e2!important;
}
.topTd {
  border-top: 1px solid #bdbaba;
  border-bottom: 1px solid #bdbaba;
}
.lead-subhead {
  text-transform: uppercase;
}
.firstRecord {
  border-left: 1px solid #bdbaba;
}
.lastRecord {
  border-right: 1px solid #bdbaba;
}
.messageFont {
  color:#222;
  font-size: 12px;
}
.readFontColor {
  color:grey !important;
  font-size: 12px;
}
.unreadFontColor {
  color:#222 !important;
  font-size: 12px;
}
.message-results {
  color: #919aa3;
  font-size: 12px;
}


