.pull-right {
  float: right !important;
}
.active {
  color: #2E58D6;
}
.my-RFQ-list-view {
  padding: 7px;
  background-color: #ffffff;
  border: solid 1px #bec4cb;
  cursor: pointer;
}
.filter,
.recent {
  width: 100%;
  padding: 5px;
  border-radius: 2px;
  border: solid 1px #bec4cb;
  margin-bottom: 15px;
}
.filter:focus {
  background: #fff;
}
.colorBlue {
  color: #2E58D6!important;
}
.search {
  width: 100%;
  padding: 6px;
  border-radius: 2px;
  border: solid 1px #bec4cb;
}
.my-RFQ-state-filter-button-active,
.my-RFQ-state-filter-button-inactive,
.card .card-title h2 span,
.award-rfq-icon-class {
  font-family: Poppins;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}
.my-RFQ-state-filter-button-active,
.my-RFQ-state-filter-button-inactive {
  border: solid 1px #bec4cb;
  font-size: 12px;
}
.my-RFQ-state-filter-button-active {
  border-radius: 2px;
  background-color: #f6f7fb;
  color: #919aa3;
}
.my-RFQ-state-filter-button-inactive {
  background-color: #ffffff;
  color: #2E58D6;
}
/*----------------------------------------Cards classes-----------------------------------*/
.card {
  width: 100%;
  background: #fff;
  box-shadow: 0 0 3px 0 rgba(12, 12, 12, 0.5);
  border-radius: 3px;
  transition: 0.3s;
  padding: 2px;
  margin-bottom: 19px;
}
.card:hover {
  box-shadow: 0 5px 10px 0 rgba(145, 154, 163, 0.65);
}
.card .box {
  left: 0;
  text-align: center;
  padding: 0px 20px 20px 20px;
  box-sizing: border-box;
  width: 100%;
}
.card-img {
  background-color: #e2e2e5;
  overflow: hidden;
  display: block;
  // max-width:230px;
  max-height: 210px;
  width: auto;
  height: 200px;
  text-align: center;
}
.card-img img {
  // padding: 50px 60px;
  height: 100%;
  width: 100%;
}

.card .bottomaction {
  height: 40px;
  width: 100%;
  padding-top: 4px;
  border-radius: 3px;
  background-color: #edeff7;
}
.card .bottomaction ul {
  margin: 0;
  padding: 0;
}
.card .bottomaction ul li {
  list-style: none;
  float: left;
}
.card .bottomaction ul li a {
  display: block;
  color: #2E58D6;
  margin: 0 18px;
  font-size: 20px;
  transition: 0.5s;
  text-align: center;
}
.card .bottomaction ul li:hover a {
  color: #e91e63;
  transform: rotateY(360deg);
}
/*----------------------------------------Cards classes End-----------------------------------*/

.myRFQ-Group {
  width: 213px;
  height: 106px;
  object-fit: contain;
}

.award-rfq-icon-class {
  width: 15px;
  height: 16px;
  object-fit: contain;
  font-family: FontAwesome;
  font-size: 16px;
  text-align: center;
  color: #2E58D6;
}

.box-margin {
  margin: 0px 50px 25px 0px;
}
.ui-autocomplete-input-token .ui-inputtext {
  border: 0 none;
}
.customchip ul {
  border: 0 none;
}

/* ********* pagination start **********/
// For Pagination
#radioBtn .notActive {
  color: #2E58D6;
  padding: 5px 15px 5px 15px;
  background-color: #fff;
}
#radioBtn .notActive.disabled {
  color: #bec4cb;
}
#radioBtn .active {
  background-color: #f6f7fb;
  color: #222;
  font-weight: bold;
  box-shadow: none;
  padding: 5px 15px 5px 15px;
}
.paginations {
  float: right;
}
.paginations a {
  border-color: rgba(145, 154, 163, 0.65) !important;
}
.padd-right {
  padding-right: 62px;
}
.pagination-summary {
  height: 15px;
  border-radius: 2px;
  background-color: #bec4cb;
}
.showreccount {
  width: 48px;
  height: 15px;
  border-radius: 2px;
  background-color: #bec4cb;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}
/* ********* pagination end *********** */

.address_div {
  height: 55px;
  overflow: hidden;
}
hr {
  margin: 7px 18px !important;
}
.cardtile-img img {
  width: 50px !important;
  height: 50px !important;
}

.contact_filter .col-md-3 {
  padding-right: 0px !important;
}
.contact_filter .col-md-3:nth-child(4) {
  padding-right: 15px !important;
}
.actievPart {
  box-shadow: 0px 1px 10px 4px rgba(24, 127, 230, 0.65) !important;
}

.list-box {
  border: 1px solid #e2e2e5;
  margin: 10px 5px;
  border-radius: 5px;
}
