.orderMfg .orderMfgSub {
    background-color: #fff;
    padding: 10px;
    height: 100%;
}
.orderMfg .orderMfgSub p {
    margin-bottom: 0;
}

.supplierName {
        background-color: #fff;
        border: 1px solid #EAEAEA;
        border-radius: 4px;
        color: #2E58D6;
        padding: 2px 10px;
}