.ngx-gen-select-container
{
    // width: inherit;
    max-height:37px; 
    border:solid 1px transparent;
}

.ngx-gen-select-container .input-group > .input-group-append > .input-group-text
{
    background-color: transparent;
    border: 1px 1px 0px 1px;
    border-color: silver;
    color: black;
    padding-top: 0px;
    cursor: pointer!important;
}
.ngx-gen-select-container .input-group .form-control
{
    border-style: solid!important;
    border-color: silver;
    border-right: 0px!important;
}

.ngx-gen-select-container .items-container-base
{
    margin-top: -17px;
    padding: 0px;
    // position: absolute;
    // overflow-y: auto;
    max-height: 230px;
    /* border: solid 1px green; */
    background-color: white;
    width: -webkit-fill-available;
    border: solid 1px silver;
    z-index: 999;
}

.ngx-gen-select-container .items-container-base .search-text-container
{
    width: 100%;
    background-color: white;
    padding: 0px;
    z-index: 999;
}
.ngx-gen-select-container .items-container-base .search-text-container input[type=text]
{
    border: 0px;
    border-bottom: 1px solid silver;
    padding: 5px;
    padding-left: 33px;
    background-image: url('../../../assets/images/Item-Search.png');
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: center;
    background-size: 18px;
}

.ngx-gen-select-container .items-container-base .items-container
{
    /*padding: 0px; */
    overflow-y: auto;
    max-height: 147px;
    background-color: white;
    width: -webkit-fill-available;
    z-index: 999;
    position: relative;
    /* padding: 2px; */
    border: solid 1px silver;
    border-top: 0px;
} 

.ngx-gen-select-container .items-container-base .items-container .ngxItem
{
    border: solid 0px red;
    padding: 6px 7px 5px 5px;
    background-color: whitesmoke;
    cursor: pointer;
    z-index: 999;
}
.ngx-gen-select-container .items-container-base .items-container .ngxSelectedItem
{
    border: solid 0px red;
    padding: 6px 7px 5px 5px;
    background-color: whitesmoke;
    font-weight: bold;
    z-index: 999;
}
.ngx-gen-select-container .items-container-base .items-container .ngxItem:hover
{
    background-color: silver;
    color: black;
    text-shadow: 1px 1px 1px white;
}
.ngx-gen-select-container .items-container-base .items-container .ngxItem .removeIcon
{
    position: relative;
    float: right;
    margin-right: 5px;
    margin-top: 3px;
}
.ngx-gen-select-container .items-container-base .items-container .ngxSelectedItem .removeIcon
{
    position: relative;
    float: right;
    margin-right: 5px;
    margin-top: 3px;
}
.ngx-gen-select-container .items-container-base .items-container .item-Text
{
    position: relative;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    z-index: 1000;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: burlywood;
    z-index: 1000;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#C0C0C0;
    z-index: 1000; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #C0C0C0; 
    z-index: 1000;
  }