  .sideDrawer {
    padding-right:0px !important;
    position:fixed !important;
    width:28% !important;
    right: 0 !important;
    overflow-y: auto !important;
    height:100% !important;
    padding-bottom:150px !important;
  }