<div class="row">
   <div [ngClass]="isSidePanel() ? 'col-md-8 col-9' : 'col-md-12 col-12'">
    <app-rfq-warning-banner></app-rfq-warning-banner>
    <div>
      <div class="row m-t-10">
        <div class="col-md-5 f-24 f-w-600 color-gray">My Contacts</div>
      </div>

      <div class="row m-t-10">
        <div class="col-md-12">
          <div class="rounded bg-white shadow">
            <app-buyer-contact-list></app-buyer-contact-list>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 pull-left"></div>
      </div>
    </div>
  </div>
  <div *ngIf="isSidePanel()" class="col-md-4 col-4 sideDrawer">
    <div *ngIf="isSupplierProfileDrawer()">
      <app-quote-supplier-profile></app-quote-supplier-profile>
    </div>
    <div *ngIf="isMessageDrawer()">
      <app-message-send-drawer></app-message-send-drawer>
    </div>
  </div>
</div>

<div *ngIf="isModelShow()">
  <app-rating-model></app-rating-model>
</div>
