*{
  font-family: Poppins;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}
.btn-qms{
  border-radius: 2px;
  background-color: #81db6d;
  font-size: 16px;
  text-align: center;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
  color: #FFF;
}