.add-notebtn button{
  border-radius: 2px;
  border: solid 2px #56c23e;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #56c23e;
  padding:10px 20px;
  margin:20px 0px;
  background: #fff;
  cursor: pointer;
}
.qms-section {
  // min-height: 400px;
}
.sideDrawer {
  padding-left: 0px;
}
.actionTitle {
  text-align: center;
  color:#4a90e2;
}
.lead-padding {
  padding-left: 25px;
}
.noteData {
  min-height: 300px;
}
.paginations {
    margin-top: 25px;
}
.lead-subhead {
  text-transform : uppercase;
}
.noImage-padding {
  text-align: center;
  padding-top:90px
}
.noMsg-text {
  padding-top:34px;
}
.lead-name {
  font-size: 16px;
}
