<div class="row">
  <div [ngClass]="isSidePanel() ? 'col-md-8' : 'col-md-12'">
    <app-rfq-warning-banner></app-rfq-warning-banner>
    <div class="">
      <div class="row m-t-10">
        <div class="col-md-8">
          <span class="f-24 f-w-600 color-gray"> Draft RFQs </span
          ><span class="f-14"
            >(This page contains your Draft RFQs. Please edit and fully submit a Draft RFQ when it's ready for sourcing.)</span
          >
        </div>
        <div class="col-md-4" style="text-align: end">
          <button
            type="button"
            class="btn button-green-border"
            (click)="redirectToCreateRfqPage()"
          >Create an RFQ
          </button>
        </div>
      </div>
      <div class="row m-t-10">
        <div class="col-md-12">
          <div class="bg-white rounded shadow">
            <app-rfqs-list></app-rfqs-list>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isSidePanel()" class="col-md-4 sideDrawer">
    <app-rfq-detail-sidepanel
      [rfqId]="getCurrentRfqId()"
      (drawer_OnClose)="drawerClose($event)"
    ></app-rfq-detail-sidepanel>
  </div>
</div>
