.rfq-detail-ndahelp{
    color: #366897;
}

.ndaSectionHeader {
    .ndaSectionHeaderText {
        font-size: 17px;
    }
}

.ndaConfirmLabel {
    flex-grow: 0 !important;
    padding-right: 0.3rem;
}

.nda-sc1 {
    z-index: 1000;
    color: #215F9B;
}
#rfqQuotesNeededBy > span > button {
    background: #55697B !important;
    border: 1px solid #55697B !important;
}

