.background-white{
	background:#FFF;
	padding: 20px;
	border-radius:5px;
	margin-bottom:19px;
	border-radius: 5px;
	box-shadow: 0 0 4px 0 rgba(145, 154, 163, 0.5);
}
.rightpanel i{
	color:#4a90e2;
	font-size: 19px;
}
.panelheading{
	font-size: 16px;
	font-weight: bold;
	color: #222;
	margin-top:2px !important;
	line-height:22px;
}
.centerAlign {
  text-align:center !important;
}
.panelheading span{
	font-size: 12px;
	font-weight: bold;
	color: #919aa3;
}
hr{
	border: solid 1px #e2e2e5 !important;
	float: left !important;
	width: 103% !important;
  margin: 11px -5px 5px !important;
}
.Label-class {
  font-family: Poppins;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #222222;
}
.borderBlackColor{
	border: 1px solid #cccccc;
}
.contactName {
  text-align: left;
  padding: 10px;
  background-color: #f6f7fb;
  margin-bottom:30px;
}
.pdfFile {
  text-align: right;
  color: #4a90e2;
  cursor: pointer;
  margin-bottom:0px;
}

