<section>
  <div class="row">
    <div class="col-md-12">
      <span class="f-16 cursor-pointer" (click)="returnToDashboard()">
        <i class="fa fa-angle-left f-20 f-w-600 color-green m-r-5" aria-hidden="true"></i> Back
      </span>
    </div>
    <div class="col-md-12 confirmImg text-center">
      <img src="../../../../assets/publishProfile/notPublishPage.png">
      <h4 class="f-w-600 p-t-20">We'll Keep It Under Wraps</h4>
      <h6 class="f-w-300">We'll wait to publish your profile until you give the go ahead. Once you are ready.<br>
        You can submit it from your dashboard at any time.
      </h6>
      <button class="button-green m-t-20 f-w-600" (click)="returnToDashboard()">Return to Dashboard</button>
    </div>
  </div>
</section>