.cus-alert-danger {
    margin: 10px 0px;
    border: 2px solid #ff5370;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 18px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 2.94px 0.06px #9e9c9e;
    box-shadow: 0 1px 2.94px 0.06px #9e9c9e;
}
.cus-alert-danger div {
    background-color: #ff5370;
    color: #fff;
    padding: 15px 10px;
    width: 195px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.cus-alert-danger p {
    margin: 0px;
    margin-left: 10px;
    font-size: 16px;
    margin-right: 1px;
}
.cus-alert-danger{
    // justify-content: stretch!important;
    height: 100%!important;
}
.cus-alert-danger p{
    font-size: 18px!important;
}
.cus-alert-danger > div{
    height: 100%!important;
}