hr {
  border: solid 1px #e2e2e5 !important;
  float: left !important;
  width: 100% !important;
  margin-top: 11px !important;
  margin-bottom: 5px !important;
}
.error-msg {
  color: #a94442;
}
ul.lazyContainer li:first-child {
  padding-left: 10px !important;
}

.All-Required {
  width: 65px;
  height: 16px;
  font-family: Poppins;
  font-size: 11px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #919aa3;
}
.associate-msg-drawer .cuppa-dropdown .dropdown-list .list-area ul li:first-child {
  padding-left: 10px !important;
}
.associate-msg-drawer1 .cuppa-dropdown .dropdown-list .list-area ul li:first-child {
  padding-left: 10px !important;
}
// .associate-msg-drawer .cuppa-dropdown .selected-list .c-btn {
//   background-color: #919aa3 !important;
// }