.background-white{
	background:#FFF;
	padding: 19px;
	border-radius:5px;
	margin-bottom:19px;
	border-radius: 5px;
	box-shadow: 0 0 4px 0 rgba(145, 154, 163, 0.5);
  margin-top: 30px;
  padding-top: 0px;
}
.innerpanelheading{
	font-size: 16px;
	font-weight: bold;
	color: #222;
	width:100%;
  margin-top:17px;
}
.description-wraper ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: unset !important;
  margin-left: 15px
}
.break {
  word-wrap: break-word !important;
}
.cust-padding {
  padding-left: 17px !important;
  padding-right: 10px !important;
  margin-top: 5px;
}
.edit-icon {
  color: #2E58D6;
  font-size: 16px;
  cursor: pointer;
}
.bottom-border {
  border-bottom: solid 1px #e2e2e5 !important;
  padding: 0px;
 // left: 13px;
}
.pointerCursor {
  cursor: pointer;
}

/*---------------------------------------- Suppliers Profile-------------------------------------*/
.equipment-list{
	line-height: 28px;
}
/*---------------------------------------- Suppliers Profile-------------------------------------*/
/*---------------------------------------- Image gallery-------------------------------------*/
.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}
#image-gallery .modal-footer{
  display: block;
}
.thumb{
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}
.thumbnail{
	border: none !important;
}
.modal-body {
  text-align: center !important;
}
.sidebtn {
  background: none;
  border: none; color: #2E58D6;
  font-size: 34px;
  cursor: pointer;
}
.img-thumbnail-1{
  border: none !important;
  width: 660px !important;
  height: 450px !important;
}
.img-thumbnail{
	border: none !important;
  width: 321px  !important;
  height: 202px  !important;
}
.modal-footer{
	border-top: none;
	text-align: left;
}
.modal-body img{
	padding: 0px;
	margin-bottom: 15px;
}
.title-green{
	color: #2E58D6;
  cursor: pointer;
  // padding: 5px;
}

.description-wraper{
    word-break: break-word;
}
.title-blue{
	color: #2E58D6;
  cursor: pointer;
}
.activeLink {
  float: right;
	color: #2E58D6;
  cursor: pointer;
}
/*---------------------------------------- Image gallery-------------------------------------*/
/*---------------------------------------- Form-------------------------------------*/
.required{
	color: #919aa3;
	font-size: 12px;
	font-weight: normal;
	font-style: italic;
	float: right;
}
.social-icons i{
	color: #2E58D6;
	margin-right: 15px;
}
/*---------------------------------------- Form-------------------------------------*/
.chart {
	display: block !important;
	width: 400px !important;
	height: 200px !important;
}
.chart1 {
	display: block !important;
	width: 300px !important;
	height: 200px !important;
}
.my-RFQ-state-filter-button-active {
  width: 95px;
  height: 35px;
  border-radius: 2px;
  background-color: #f6f7fb;
  border: solid 1px #bec4cb;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #919aa3;
}
.my-RFQ-state-filter-button-inactive {
  width: 95px;
  height: 35px;
  background-color: #ffffff;
  border: solid 1px #bec4cb;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #2E58D6;
}

.path{
	fill: #2E58D6 !important;
}
// @mixin fluid-ratio($large-size, $small-size) {
//   $width-large: nth($large-size, 1);
//   $width-small: nth($small-size, 1);
//   $height-large: nth($large-size, 2);
//   $height-small: nth($small-size, 2);
//   $slope: ($height-large - $height-small) / ($width-large - $width-small);
//   $height: $height-small - $width-small * $slope;

//   padding-top: $slope * 100%;
//   height: $height;
//   background-repeat: no-repeat;
//   background-size: contain;
//   -moz-background-size: contain;  /* Firefox 3.6 */
//   // background-position: contain;  /* Internet Explorer 7/8 */
//   background-position:center;
// }

// div.fluidratio {
//   /* This element will have fluid ratio from 4:1 at 800px to 2:1 at 300px. */
//   @include fluid-ratio(800px 400px, 300px 150px);
// }
.thumb {
  position: relative;
}
.img-thumbnail {
  opacity: 1;
  display: block;
  // width: 100%;
  // height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  height: 100% !important;
  width: 100% !important;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: rgba(74, 144, 226, 0.74);
  color: #fff;
  display: none;
}
.middle .fa{
  top: 50%;
  left: 50%;
  margin-top: 60px;
}
.thumb:hover .img-thumbnail {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  // opacity: 0.3;
}

.thumb:hover .middle {
  opacity: 0.6;
}
.margin-tp {
  // background: #FFF;
  // padding: 19px;
  // border-radius: 5px;
  // margin-bottom: 19px;
  // border-radius: 5px;
  // box-shadow: 0 0 4px 0 rgba(145, 154, 163, 0.5);
  // padding-top: 0px;
  margin-top: 30px;
}
.contact-details {
  div {
    padding-top: 5px;
    i {
      color: grey;
      font-size: 17px;
      padding-right: 10px;
      padding-top: 10px;
    }
  }
}
.limitTextHeight {
  height: 120px;
  overflow: hidden;
  cursor: pointer;
}
.limitTextHeight1 {
  height: 20px;
  overflow: hidden;
  cursor: pointer;
}
.map-padding {
  padding: 0px;
}
.mailing-bg-color {
  background: #F5F5F5;
  margin-top: 20px;
}
.map-padding2 {
  padding: 0px;
  margin-top: 20px;
}
.map-row-padding{    
  padding-left: 15px;
  padding-right: 15px;
}
.padding-zero {
  padding: 0;
}
.heading-bottom-space-20 {
  margin-top:-20px;
}