.accept-button{
  background-color: #2E58D6;
  color:#fff;
  padding: 5px 20px;
  border-radius: 5px;
  border: 2px solid #2E58D6;
  width: 45%;
}
.cancel-button{
  background-color: #fff;
  color:#212A37;
  padding: 5px 20px;
  border-radius: 5px;
  border: 2px solid #212A37;
  width: 45%;
}
.read-button{
  background-color: #fff;
  color:#212A37;
  padding: 5px 20px;
  border-radius: 5px;
  border: 2px solid #212A37;
}
