.btn-ignore-rfq {
  width: 284px;
  height: 45px;
  border-radius: 2px;
  border: solid 2px #81db6d;
  background-color:#fff;
  color:#81db6d
}
.btn-cancel-rfq {
  width: 285px;
  height: 45px;
  border-radius: 2px;
  background-color: #81db6d;
  color:#ffffff;
}
