.btn-ignore-rfq {
  width: 284px;
  height: 45px;
  border-radius: 2px;
  border: solid 2px #2E58D6;
  background-color: #fff;
  color: #2E58D6
}

.btn-cancel-rfq {
  width: 285px;
  height: 45px;
  border-radius: 2px;
  background-color: #2E58D6;
  color: #ffffff;
}
