.background-white{
	background:#FFF;
	padding: 15px;
	border-radius:5px;
	margin-bottom:19px;
	border-radius: 5px;
	box-shadow: 0 0 4px 0 rgba(145, 154, 163, 0.5);
}
.row-border-bottom {
  border-bottom: 2px solid #e0dfdf;
}
.Edit-Equipment {
  height: 23px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #222222;
}
.I-am-a-person-that {
  height: 17px;
  font-family: Poppins;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #222222;
}
.Save-Equipment-active {
  width: -webkit-fill-available;
  height: 35px;
  border-radius: 2px;
  padding: 0px !important;
  background-color: #2E58D6;
  color:white;
  cursor: pointer;
}

.Save-Equipment-Deactive {
  width: -webkit-fill-available;
  height: 35px;
  padding: 0px !important;
 font-family: Poppins;
 font-size: 16px;
 font-weight: 600;
 font-style: normal;
 font-stretch: normal;
 line-height: normal;
 letter-spacing: normal;
 text-align: center;
 color: #ffffff;
 border-radius: 2px;
 background-color: #bec4cb;
 cursor: default !important;
}
.Rectangle-2{
  width: 150px;
  height: 35px;
  border-radius: 2px;
  background-color: #bec4cb;
  color: white;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
   }

   .Rectangle-2-active {
    width: 150px;
    height: 35px;
    border-radius: 2px;
    background-color: #bec4cb;
    color: white;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    background-color: #2E58D6;
  }
   .Add-Another-Quanti {
    width: 141px;
    height: 17px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a90e2 !important;
  }
   .inner-div{
    text-align: left;
    padding-left: 0px;
  }

  .Rectangle-description {
    width: 330px;
    height: 310px;
    border-radius: 2px;
    border: solid 1px #4a90e2;
    background-color: #ffffff;
  }
  .Company-Description1 {
    height: 17px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #222222;
  }
  .dHelper-align {
    text-align: right;
  }
  .description-helper {
    height: 16px;
    font-family: Poppins;
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #919aa3;
  }
  .Drag-drop-your-cer {
    // width: 279px;
    height: 23px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #222222;
    padding-left: 39px;
    padding-top: 4px;
  }
.Rectangle-3{
  width: -webkit-fill-available;
  height: 35px;
  border-radius: 2px;
  border: solid 2px #212A37;
  background-color: white;
  color: #212A37;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

.row-padding-top {
  padding: 15px;
}
.upload-part-detail-remove {
  width: 50px;
  height: 17px;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a90e2;
  cursor: pointer;
}
.custom-cursor {
  cursor: pointer !important;
}
.Add-another-piece {
  width: 241px;
  height: 20px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4890ea;
}
.rightpanel i {
  color: #4a90e2;
  font-size: 19px;
}

.panelheading {
  font-size: 16px;
  font-weight: bold;
  color: #222;
  margin-top: 2px !important;
  line-height: 22px;
}
.panelheading span {
  font-size: 12px;
  font-weight: bold;
  color: #919aa3;
}
.rightpanel {
  border-bottom: solid 2px #e2e2e5;
}
.gallary-item-upload-box {
  height: 228px;
  border-radius: 2px;
  border: dashed 2px #e2e2e5;
  margin-top: 10px;
  width: 100%;
  text-align: center;
}
.inActive-link {
  width: 100%;
  height: 20px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #bec4cb;
}
.-Add-Another-Catego {
  margin-top: 10px;
  height: 20px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4990e6 !important;
  cursor: pointer;
}
.label-part-detail {
  margin-top: 10px;
}
.add-certi-space {
  margin-top: 10px;
}
.gallary-Drag-drop-text {
  margin-top: 20px;
  height: 25px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #222222;
}
.gallary-browse-file-text {
  height: 20px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #4a90e2;
}
.gallary-browse-file-text .or {
  font-weight: normal;
  color: #222222;
}
.display-none{
  display: none
}
.cursor-pointer{
  cursor: pointer !important;
}
.gallary-browse-file-type {
  margin-top: 9px;
  margin-bottom: 9px;
  height: 16px;
  font-family: Poppins;
  font-size: 11px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #919aa3;
}
.gallary-browse-Icon-default {
  width: 45px;
  height: 57px;
  object-fit: contain;
  margin-top: 33px;
}
.dropimagebuttons {
	width:100% !important;
  margin-top: 29px;
}
.disabled-btn {
  margin-left: 10px;
  width: 150px;
  height: 35px;
  border-radius: 2px;
  background-color: #bec4cb;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.enabled-btn {
  margin-left: 10px;
  width: 150px;
  height: 35px;
  border-radius: 2px;
  background-color: #2E58D6;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.cancelbutton {
  width: 150px;
  height: 35px;
  border-radius: 2px;
  border: solid 2px #212A37;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #212A37;
}
.cancelbutton-disabled {
  width: 150px;
  height: 35px;
  border-radius: 2px;
  border: solid 2px #bec4cb;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #bec4cb;
}
.thumbnail{
	border: none !important;
}
.img-thumbnail{
	border: none !important;
}
.show-image {
  width: 150px;
  height: 94.3px;
}
.show-image1 {
  height: 207.6px;
  // margin: 20px;
}
.add-margin {
  margin-top: 8px;
}
.img-meta {
  width: 100%;
  height: 20px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4890ea;
}
.delete-img {
  width: 13px;
  height: 14px;
  float: right;
  margin-top: 5px;
  cursor: pointer;
}
.active-link {
  width: 100%;
  height: 20px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a90e2;
  cursor: pointer;
}
.active-link i {
  height: 16px;
  font-size: 16px;
}
.edit-photo-padding {
  padding-top: 29px;
}
.space-add-another {
  padding-top: 10px;
}
.error-msg2 {
  position:absolute;
  width:100%;
}

.cancelbutton1 {
  width: 100%;
  height: 35px;
  border-radius: 2px;
  border: solid 2px #212A37;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #212A37;
  background-color: #fff;
  cursor: pointer;
}
.cancelbutton-disabled1 {
  width: 100%;
  height: 35px;
  border-radius: 2px;
  border: solid 2px #bec4cb;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #bec4cb;
}

.disabled-btn1 {
  width: 100%;
  height: 35px;
  border-radius: 2px;
  background-color: #bec4cb;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  border:none;
}
.enabled-btn1 {
  width: 100%;
  height: 35px;
  border-radius: 2px;
  background-color: #2E58D6;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  border: 0px;
  cursor: pointer;
}

.Label-focus-red {
  font-family: Poppins !important;
  font-size: 12px !important;
  font-weight: bold !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: normal !important;
  letter-spacing: normal !important;
  color: #da2020 !important;
}
.Label-class {
  font-family: Poppins !important;
  font-size: 12px !important;
  font-weight: bold !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: normal !important;
  letter-spacing: normal !important;
  color: #222222 !important;
}
.Label-focus {
  font-family: Poppins !important;
  font-size: 12px !important;
  font-weight: bold !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: normal !important;
  letter-spacing: normal !important;
  color: #4a90e2 !important;
}

.btn-cancel-part-details {
  width: 150px;
  height: 35px;
  border-radius: 2px;
  border: solid 2px #212A37;
  background: white;
  cursor: pointer;

}
.btn-save-text-part{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.language-div a:hover {
  background-color: #ffffff;
  cursor: pointer;
  color: #607d8b;
  font-weight: bold;
}

.language-div {
  text-align: left
}
.Add-Another-Lang {
  width: 141px;
  height: 17px;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a90e2 !important;
}
.label-language-detail {
  width: 200px;
  height: 17px;
  font-family: Poppins;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #222222;
}

.pointerCursor {
  cursor: pointer;
}

.language-detail-remove {
  width: 50px;
  height: 17px;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a90e2;
  cursor: pointer;
}

.error-msg2 {
  position:absolute;
  bottom:-19px;
  left:0;
  width:100%;
  left:15px
}
.pad-since {
  height: 33px;
  background-color: #f6f7fb;
  text-align: center;
  padding-top: 5px
}

.MFGcom-Member-Since {
  width: 228px;
  height: 17px;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  padding-top: 10px;
  color: #919aa4;

}
