.card{
    width: 100%;
    padding:15px;
    margin-bottom: 10px;
}
.name{
    color:#222222;
}
.badge{
    background-color: #75ebd3;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right:10px;
    margin-bottom: 5px; 
}
.card p{
    margin-bottom:0px; 
}
.card img{
    height: 50px;
    width: 50px;
    border-radius:2px;
    border: solid 1px #e9ebed; 
    margin-right: 10px; 
}
.btn-profile{
    border-radius: 2px;
    background-color: #2E58D6;
    color:#fff;
    border: 1px solid transparent;
    padding: 5px;
    cursor: pointer;
    width: 120px;
}
.btn-msg{
    border-radius: 2px;
    background-color: #fff;
    color:#212A37;
    border: 2px solid #212A37;
    padding: 5px;
    cursor: pointer;
    width: 120px;
}
.card div:first-child{
    display: flex;
}
.card button:focus{
    outline: none!important;
}
.card-tag {
    position: absolute;
    top: 17px;
    right: -5px;
    background-color: #2E58D6;
    padding: 1px 10px;
    font-size: 12px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  }
  .card-tag span {
    color: #fff !important;
  }
  .card-tag:before{
    content: "";
    position: absolute;
    top: -10px;
    right: 0;
    border-left: 0px solid #14455b;
    border-right: 5px solid transparent;
    border-top: 5px solid transparent;
    border-bottom: 5px solid #14455b;
  }
  .gray-color{
    color:#919aa3;
}
.word-break{
    word-break: break-all;
}
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  /* Transparent Overlay */
  .loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-color: #666666;
  }