.message-action{
	width: 100%;
	height: 40px;
	color: #2E58D6;
	padding: 15px;
	background-color: #edeff7;
}
.pull-left{
	font-size: 20px;
}
.pull-right.cursor-pointer{
	font-size: 20px;
}
.row.p-10{
	padding-bottom: 10px;
}
i.fa.fa-paperclip.pull-left {
    position: absolute;
    left: 25px;
    top: auto;
    bottom: 15px;
}
