.box {
  background-color: #f9fafe;
  margin: 16px 0 0;
  padding: 16px;
  font-size: 16px;
  font-weight: 400;
}
.rfqNumber {
  color: #2e58d6;
  cursor: pointer;
  font-weight: 600;
}
.cursor {
  cursor: pointer;
}
