body,
html {
  height: 100%
}

body {
  font-family: Poppins;
  background: #f6f7fb !important
}

.background-white {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 19px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 4px 0 rgba(145, 154, 163, .5)
}

.floatRight {
  text-align: right !important
}

.Drawer-Shadow {
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 5px 10px 0 rgba(145, 154, 163, .65)
}

.sideDrawer {
  padding-right: 0 !important;
  padding-left: 0 !important;
  position: fixed !important;
  width: 28% !important;
  right: 0 !important;
  overflow-y: auto !important;
  height: 100% !important;
  padding-bottom: 150px !important
}

@media screen and (max-width:767px) {
  .table-responsive {
    border: none !important
  }
  .circle-icons {
    position: relative;
    z-index: 1;
  }
}

.panel {
  box-shadow: none !important;
  border: none !important;
  margin-bottom: 11px !important
}

.modal-header {
  padding-bottom: 5px
}

.modal-footer .btn-group button {
  height: 40px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: none;
  border-right: 1px solid #ddd
}

.tabbable-line-2>.nav-tabs {
  border: none;
  margin: 0
}

.tabbable-line-2>.nav-tabs>li {
  margin-right: 10px
}

.tabbable-line-2>.nav-tabs>li>a>i {
  color: #a6a6a6
}

.tabbable-line-2>.nav-tabs>li:hover {
  border-bottom: 4px solid #2E58D6
}

.tabbable-line-2>.nav-tabs>li:hover>a {
  border: 0;
  background: 0 0 !important;
  color: #333
}

.tabbable-line-2>.nav-tabs>li:hover>a>i {
  color: #a6a6a6
}

.tabbable-line-2>.nav-tabs>li.active {
  border-bottom: 4px solid #2E58D6;
  position: relative
}

.tabbable-line-2>.nav-tabs>li.active>a {
  border: 0;
  color: #222
}

.tabbable-line-2>.nav-tabs>li.active>a>i {
  color: #404040
}

.tabbable-line-2>.tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0
}

.tabbable-line-2 > .nav-tabs > li > a {
  border: 0;
	margin-right: 0;
	color: #212A37 !important;
	font-size: 16px;
	text-align: center !important;
	text-transform: uppercase;
	font-weight: bold;
}
.otherRfqDetails{
	font-family: Poppins;
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #222222;
}
.circle-icons {
  float: right
}

.circle-icons li {
  list-style: none;
  float: left;
  margin-left: 19px
}

.circle-icons li a {
  background: #fff;
  padding-top: 11px;
  border-radius: 50%;
  text-align: center;
  margin-bottom: 15px;
  float: right;
  box-shadow: 0 0 3px 0 rgba(145, 154, 163, .5);
  transition: .3s;
  width: 40px;
  height: 40px
}

.circle-icons li a i {
  color: #212A37;
  font-size: 16px;
  font-weight: 700
}

.circle-icons li a:hover {
  box-shadow: 0 5px 10px 0 rgba(145, 154, 163, .65)
}

.scroll-top-wrapper {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  text-align: center;
  z-index: 99999999;
  background: #2E58D6;
  color: #eee;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 45px;
  right: 30px;
  bottom: 1px;
  box-shadow: 0 0 3px 0 rgba(145, 154, 163, .5);
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out
}

.scroll-top-wrapper:hover {
  background-color: #aec9e8
}

.scroll-top-wrapper i.fa {
  font-size: 19px
}

.normalFont {
  font-weight: 400 !important
}

.btn-ignore-rfq-clone {
  width: 175px;
  height: 45px;
  border-radius: 2px;
  border: solid 2px #212A37 !important;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #212A37 !important;
  background-color: #fff
}

.btn-ignore-rfq-clone1 {
  width: 175px;
  height: 45px;
  border-radius: 2px;
  border: solid 2px #2E58D6;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #2E58D6;
  background-color: #fff
}

.btn-submit-rfq-close {
  width: 284px;
  height: 45px;
  border-radius: 2px;
  background-color: #2E58D6;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff
}

.btn-submit-rfq-close-1 {
  height: 35px;
  border-radius: 6px;
  background-color: #2e58d6;
  font-size: 13px;
  border: solid 2px #2e58d6 !important;
  text-align: center;
  font-weight: bold;
  color: #fefefe !important;
  padding: 6px
}

.right-left-padding {
  padding-left: 10px;
  padding-right: 10px
}

.right-left-padding-res {
  padding-left: 10px;
  padding-right: 10px
}

.licus-2-shopIQ {
  // padding-left: 0 !important;
  // padding-right: 0 !important;
  // width: 15.6% !important;
  // text-align: center !important
  padding-left: 15px;
  padding-right: 15px;
  height: 36px;
  text-align: center !important
}

.licus-2 {
  // padding-left: 0 !important;
  // padding-right: 0 !important;
  // width: 18.8% !important;
  // text-align: center !important
  padding-left: 15px;
  padding-right: 15px;
  height: 36px;
  text-align: center !important
}

.licus-2-3 {
  padding-left: 15px;
  padding-right: 15px;
  height: 36px;
  text-align: center !important
}

.liacus {
  padding-left: 0 !important;
  padding-right: 0 !important
}

.btn-ignore-rfq {
  width: 284px;
  height: 45px;
  border-radius: 2px;
  border: solid 2px #2E58D6 !important;
  background-color: #fff;
  color: #2E58D6 !important
}

.btn-cancel-rfq {
  width: 285px;
  height: 45px;
  border-radius: 2px;
  background-color: #2E58D6;
  color: #fff
}

.cuWidth {
  width: 70px !important
}

.cuHeight {
  height: 18px
}

.cuHeight2 {
  height: 29px
}

.RFQ-Name-Goes-Here {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #222
}

.breadcumb-box {
  padding-top: 10px;
  height: 40px;
  background-color: #ebecf0
}

.no-pad-left-right {
  padding-left: 0;
  padding-right: 0
}

.breadcumb-text {
  margin-left: 10px;
  height: 20px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2E58D6
}

.breadcumb-text .current-page {
  color: #919aa3
}

.Selectable {
  cursor: pointer
}

.Rectangle-7 {
  width: 629px;
  height: 334px;
  border-radius: 5px;
  box-shadow: 0 5px 10px 0 rgba(145, 154, 163, .65);
  background-color: #fff
}

.Do-you-agree-to-the {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #222
}

.Rectangle-4-Copy {
  // width: 589px;
  display: flex;
  height: auto;
  background-color: #f6f7fb;
  align-items: center;
  padding: 10px;
  
}

.st-Level-NDA-Agreem {
  // width: 177px;
  // height: 20px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #222
}

.Rectangle-3 {
  width: 629px;
  height: 334px;
  border-radius: 5px;
  box-shadow: 0 5px 10px 0 rgba(145, 154, 163, .65);
  background-color: #fff
}

.NOTE-Not-agreeing-w {
  // width: 496px;
  //height: 18px;
  margin-top: 1.5rem;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: red
}

.Download {
  width: 62px;
  height: 17px;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #2E58D6
}

.Custom-NDA-Agreement {
  width: 176px;
  height: 20px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #222
}

.RectangleNo-2 {
  width: 284px;
  height: 45px;
  border-radius: 2px
}

.RectangleNo-21 {
  width: 108px;
  height: 37px;
  border-radius: 16px
}

.RectangleYes-2 {
  width: 284px;
  height: 45px;
  border-radius: 2px;
  background-color: #2E58D6 !important
}

.RectangleYes-2-1 {
  height: 45px;
  border-radius: 2px;
  background-color: #2E58D6 !important
}

.modal-header {
  padding-bottom: 5px
}

.modal-footer .btn-group button {
  height: 40px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: none;
  border-right: 1px solid #ddd
}

.btn-ignore-rfq {
  width: 284px;
  height: 45px;
  border-radius: 2px;
  border: solid 2px #2E58D6;
  background-color: #fff;
  color: #2E58D6
}

.btn-cancel-rfq {
  width: 285px;
  height: 45px;
  border-radius: 2px;
  background-color: #2E58D6;
  color: #fff
}

.pdf-icon a {
  cursor: default !important
}

.btn-nda-status {
  border-radius: 15px;
  border: solid 2px #212A37 !important;
  font-family: Poppins;
  font-size: 12px;
  text-align: center;
  color: #212A37 !important;
  background-color: #fff
}

.btn-back {
  border-radius: 20px;
  box-shadow: 0 0 4px 0 rgba(145, 154, 163, .5);
  background-color: #fff;
  color: #2E58D6;
  font-size: 14px;
  font-weight: 500;
  padding: 5px 15px;
  white-space: normal
}

.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .2;
  background-color: #666
}

.flex-container {
  display: flex;
  align-items: start
}

.flex-box {
  flex-grow: 0;
  width: 80px;
  margin-right: 15px;
  margin-top: 10px;
	margin-left: 15px 
}
::ng-deep .p-dialog{
  width: 100%;
  max-width: 595px;
  margin: 0 15px;
}
::ng-deep .p-dialog-header {
  padding: 0 0 0 1rem !important;
}

// ::ng-deep p-dialog .ui-dialog {
//   overflow: scroll;
//   max-height: 100%;
//   overflow-x: hidden;
// }

.tabbable-line-2 > .nav-tabs > li.active a {
  color: #2E58D6 !important;
}
.tabbable-line-2 > .nav-tabs > li.active a:hover {
  color: #2E58D6 !important;
}
.tabbable-line-2 > .nav-tabs > li a:hover {
  color: #222 !important;
}

li:first-child {
  padding-left: 0 !important;
}

// Static page start
.cus-alert-danger1 {
  pointer-events: none;
  margin-bottom: 15px;
  box-sizing: border-box;
  justify-content: space-between;
  /* Auto layout */

  display: flex;
  flex-direction: row;
  //align-items: center;
  padding: 16px;
  gap: 85px;

  // width: 1112px;
  //height: 53px;

  /* Neutral/200 */

  background: #f5f6fa;
  /* Secondary/Light Blue */

  border: 2px solid #2E58D6;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.cus-alert-danger1 p {
  margin: 1px;
  width: 641px;
  //height: 21px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 15px;
  //text-align: center;
  color: #1f1f1f;
  //flex: none;
  order: 1;
  flex-grow: 0;
}
.close-warn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 4px;
  //margin-left: 115px;
  width: 169px;
  height: 18px;
  color: #2E58D6;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.label-warn {
  pointer-events: none;
  width: 148px;
  height: 18px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #2E58D6;
  flex: none;
  order: 1;
  flex-grow: 0;
} 
.order-Id {
  height: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: #1f1f1f;
  order: 0;
  margin-right: -17px;
  margin-top: 10px;
}
.edit-order {
  pointer-events: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 10px;
  gap: 8px;
  border: none;
  margin: 0px 12px;
  background: #78d46a;
  color: #ebecf0;
  border-radius: 4px;
  flex: none;
  order: 2;
  flex-grow: 0;
}
.order-message {
  background-color: #ebecf0 !important;
  box-sizing: border-box;
  color: #56c23e;
  pointer-events: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 10px;
  gap: 8px;
  background: #ffffff;
  border: 1px solid #56c23e;
  border-radius: 4px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 12px;
}
.decline-message {
  background-color: #ebecf0 !important;
  box-sizing: border-box;
  pointer-events: none;
  color: #FF4747;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 10px;
  gap: 8px;
  background: #ffffff;
  border: 1px solid  #FF4747;
  border-radius: 4px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 12px;
}
.order-detail {
  font-size: 16px;
  font-weight: bold;
  color: #222;
  width: 100%;
  border-bottom: 2px solid #1f1f1f;
  padding-bottom: 5px;
  margin-bottom: 19px;
}
.status-order {
  height: 21px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  column-count: 5;
  display: flex;
  justify-content: space-between;
}
.parts-block {
  margin-top: 30px;
  width: 41px;
  height: 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: #1f1f1f;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.status-price {
  height: 21px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  column-count: 6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px 16px;
  height: 18px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.order-block {
  background-color: #f5f6fa;
  padding: 18px;
  margin-top: 10px;
}
.status-unit {
  height: 21px;
  display: flex;
  justify-content: space-between;
}
.status {
  display: flex;
  align-items: flex-start;
  padding: 0px;
  height: 15px;
}

.status-content {
  min-width: 118px;
  background-color: #ebecf0 !important;
  box-sizing: border-box;
  margin-top: -10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 8px;
  gap: 8px;
  height: 37px; 
  background: #ffffff;
  border: 1px solid #1f1f1f;
  border-radius: 36px; 
  order: 0;
  flex-grow: 0;
}
.hide-dropdown {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 4px;
  height: 18px;
  border-radius: 4px;
  flex: none;
  order: 5;
  flex-grow: 0;
}
.hide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ebecf0 !important;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin-top: 15px;
}
.p-details {
  width: 1048px;
  height: 18px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #869098;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.block-content {
  display: flex;
  align-items: flex-start;
  padding: 0px;
  height: 100%;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  justify-content: space-between;
}
.PO-status {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #1f1f1f;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.manu-name {
  font-family: "Poppins";
  pointer-events: none;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  color: #2E58D6;
  flex: none;
  order: 3;
}
.rfq-ID {
  pointer-events: none;
  font-family: "Poppins";
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  color: #2E58D6;
  flex: none;
  order: 3;
}

.detail-content {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #222222;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.detail-info {
  width: 42px;
  height: 54px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #222222;
  flex: none;
  order: 1;
  flex-grow: 0;
}
#sample {
  position: fixed;
  bottom: 112px;
  font-size: 180px;
  right: 300px;
  opacity: 0.2;
  z-index: 99;
}


.New {
  width: 31px;
  height: 18px;
  flex-grow: 0;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #0f8350;
  background-color: #edfff7
}
.New-Chip {  width: 47px;  height: 22px;  flex-grow: 0;  display: flex;  flex-direction: row;  justify-content: flex-start;  align-items: center;  gap: 8px;  padding: 2px 8px;  border-radius: 8px;  background-color: var(--success-g-0);}

.upgradeQuoteBtn{
  padding: 2px 5px !important;
  border-radius: 2px;
  border: solid 2px #212A37;
  color: #212A37;
  background-color: #fff;
  cursor: pointer;
  margin-bottom: 10px;
  line-height: 30px;
  font-weight: bold;
  font-size: 16px;
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .sideDrawer {
    padding: 20px !important;
    position: fixed !important;
    width: 100% !important;
    right: 0 !important;
    overflow-y: auto !important;
    height: 100% !important;
    padding-bottom: 150px !important;
    top:90px;
  }
}
