.background-white{
	background:#FFF;
	padding: 15px;
	border-radius:5px;
	margin-bottom:19px;
	border-radius: 5px;
	box-shadow: 0 0 4px 0 rgba(145, 154, 163, 0.5);
}
.row-border-bottom {
  border-bottom: 2px solid #e0dfdf;
}
.rightpanel i {
  color: #4a90e2;
  font-size: 19px;
}
.panelheading {
  font-size: 16px;
  font-weight: bold;
  color: #222;
  margin-top: 2px !important;
  line-height: 22px;
}
.panelheading span {
  font-size: 12px;
  font-weight: bold;
  color: #919aa3;
}
.input-top-padding {
  margin-top: 16px;
}
.Label-focus-red {
  font-family: Poppins !important;
  font-size: 12px !important;
  font-weight: bold !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: normal !important;
  letter-spacing: normal !important;
  color: #da2020 !important;
}
.Label-class {
  font-family: Poppins !important;
  font-size: 12px !important;
  font-weight: bold !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: normal !important;
  letter-spacing: normal !important;
  color: #222222 !important;
}
.Label-focus {
  font-family: Poppins !important;
  font-size: 12px !important;
  font-weight: bold !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: normal !important;
  letter-spacing: normal !important;
  color: #4a90e2 !important;
}
.reply-help {
  margin-top: 3px;
  width: 100%;
  height: 16px;
  text-align: right;
  font-family: Poppins;
  font-size: 11px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #919aa4;
}
.dropimagebuttons {
	width:100% !important;
  margin-top: 29px;
}
.dropimagebuttons1 {
  margin-top: 29px;
}
.cancelbutton1 {
  width: 150px;
  height: 35px;
  border-radius: 2px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  border: solid 2px #212A37;
  color: #212A37;
  background-color: #ffffff;
}
.disabled-btn1 {
  margin-left: 10px;
  width: 150px;
  height: 35px;
  border-radius: 2px;
  background-color: #bec4cb;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
.enabled-btn1 {
  margin-left: 10px;
  width: 150px;
  height: 35px;
  border-radius: 2px;
  background-color: #2E58D6;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
