.btn-cancel{
  border: 2px solid #2E58D6;
  background-color: #fff;
  color:#2E58D6;
}
.btn-save{
  border: 2px solid #2E58D6;
  color:#fff;
  background-color: #2E58D6;
}
// ::ng-deep .modal-dialog {
//   max-width: 50%!important;
//   width: 50%!important;;
// }
body{
font-family: Poppins;
background:#f6f7fb !important;
}

/*----------------------------------------Modal Popup-------------------------------------*/
.modal-header {
padding-bottom: 5px;
}
.modal-title{
font-size: 21px !important;
font-weight:bold !important;
}
.modal-footer .btn-group button {
height:40px;
border-top-left-radius : 0;
border-top-right-radius : 0;
border: none;
border-right: 1px solid #ddd;
}
/*----------------------------------------Modal Popup-------------------------------------*/

.Deselect-All {
font-family: Poppins;
font-size: 14px;
font-weight: 500;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
color: #4a90e2;
cursor: pointer;
}

.Rectangle-indi {
overflow-y: auto;
overflow-x: hidden;
height: 218px;
border-radius: 2px;
background-color: #ffffff;
border: solid 1px #bec4cb;
text-align: left;
}
.Main-Topic {
font-family: Poppins;
font-size: 13px;
font-weight: 600;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
color: #222222;
cursor: pointer;
text-align: left !important;
}
.Subtopic-1-Subtopic {
font-family: Poppins;
text-align: left !important;
font-size: 13px;
padding-left: 7px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
color: #222222;
cursor: pointer;
}
button:disabled{
  cursor: not-allowed;
  color:#fff;
  background-color: #bec4cb;
  border-color: #bec4cb;
}
.active {
  display: none;
}
